alembic
annotated-types
anyio
bcrypt
certifi
cffi
charset-normalizer
click
cloudinary
cryptography
dnspython
ecdsa
email-validator
exceptiongroup
fastapi
greenlet
h11
httpcore
httptools
httpx
idna
itsdangerous
Jinja2
Mako
MarkupSafe
orjson
passlib
psycopg2-binary
pyasn1
pycparser
PyYAML
requests
rsa
six
sniffio
typing_extensions
ujson
urllib3
watchfiles
websockets
pydantic==2.4.2
pydantic-extra-types==2.1.0
pydantic-settings==2.0.3
pydantic_core==2.10.1
python-dotenv==1.0.0
python-jose==3.3.0
python-multipart==0.0.6
SQLAlchemy==1.4.49
starlette==0.27.0
uvicorn==0.23.2
uvloop==0.17.0
