/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

.shad {
  box-shadow: 0px 50px 72px 50px rgba(16, 25, 40, 0.1);
}

.input-shadow {
  box-shadow: 0px 40px 72px -12px rgba(16, 25, 40, 0.1);
}

.svg-icon {
  fill: currentColor !important; /* This sets the SVG fill color to the current text color */
}
